<%= simple_form_for(@opportunity) do |f| %>
  <%= f.error_notification %>

	Sorry, I've not created the form for this yet.

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
